@use "../../colors.scss";

.container {
  position: relative;
  color: transparent;

  & img {
    height: 4.0625rem;
    width: 4.0625rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translate3d(0, -0.3125rem, 0.625rem);
    }

    &:active {
      transform: unset;
    }
  }

  .active {
    filter: unset;
  }
}

.check {
  position: absolute;
  top: -0.8125;
  right: -0.8125;
  z-index: 1;
  font-size: 1.5625rem;
}

.active {
  color: colors.$green-600;
}
