.content {
  display: flex;
  flex-direction: column;
  padding-top: 1.3rem;

  & > :first-child {
    margin-bottom: 0.8rem;
  }

  &Bottom {
    display: flex;
    justify-content: space-between;
    height: 18.75rem;
  }
}

.numberInputs {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
