@use "../../colors";

.container {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 1.8rem;
  column-gap: 1.1rem;
}

.error {
  height: 24px;
  color: colors.$red;
}
