.container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    width: 52.25rem;
    height: 24.375rem;
  }

  & > p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin: 2rem 0;
  }
}
