@use "../../colors";

.modal {
  border: none;
  border-radius: 8px;
  background-color: colors.$purple-100;
  margin: 15rem auto;

  &[open] {
    animation: slide-in-from-top 0.35s ease-out;
  }

  &::backdrop {
    background: rgba(colors.$purple-950, 0.7);
  }
  h2 {
    font-family: "Handjet", monospace;
    margin: 0 0 0.25rem 0;
    font-size: 3rem;
    text-transform: uppercase;
  }
}

#modalBody {
  padding: 2rem;
  height: 500px;
  position: relative;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.closeBtn {
  position: absolute;
  top: 19px;
  right: 19px;
  border: none;
  font-size: 28px;
  background-color: transparent;
  cursor: pointer;
}
