@use "../../colors";

.btn {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba($color: colors.$purple-800, $alpha: 0.25);
  }

  &.btnLight:hover {
    background-color: rgba($color: colors.$purple-400, $alpha: 0.25);
  }

  &.btnDark:hover {
    background-color: rgba($color: colors.$purple-950, $alpha: 0.25);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba($color: colors.$purple-950, $alpha: 0.25);
  }

  &Small {
    height: 38px;
    font-weight: 800;
    font-size: 20px;
    padding: 0 15px;
  }

  &Medium {
    height: 38px;
    font-weight: 400;
    font-size: 22px;
    padding: 0 20px;
  }

  &Large {
    height: 55px;
    font-weight: 400;
    font-size: 24px;
    padding: 0 40px;
  }

  &Round {
    width: 60px;
    height: 60px;
    font-weight: 600;
    font-size: 26px;
    padding: 0 20px;
  }

  &Light {
    background-color: rgba($color: colors.$purple-300, $alpha: 0.25);
    color: colors.$white;
  }

  &Dark {
    background-color: rgba($color: colors.$purple-800, $alpha: 0.25);
    color: colors.$white;
  }

  &Grey {
    background-color: colors.$dark-grey;
    color: colors.$purple-500;
  }
}
