@use "../../colors";

.btn {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba($color: colors.$purple-800, $alpha: 0.25);
  }

  &:disabled {
    color: colors.$dark-grey;
    background-color: transparent;
  }

  &:disabled:hover {
    transform: translateY(0);
    box-shadow: none;
    cursor: unset;
  }

  &.btnLightPurple {
    &:hover {
      background-color: rgba($color: colors.$purple-400, $alpha: 0.25);
    }

    &:disabled:hover {
      background-color: transparent;
    }
  }

  &.btnDarkPurple {
    &:hover {
      background-color: rgba($color: colors.$purple-950, $alpha: 0.25);
    }

    &:disabled:hover {
      background-color: transparent;
    }
  }

  &.btnLightGreen {
    &:hover {
      background-color: rgba($color: colors.$green-400, $alpha: 0.25);
    }

    &:disabled:hover {
      background-color: transparent;
    }
  }

  &.btnDarkGreen {
    &:hover {
      background-color: rgba($color: colors.$green-950, $alpha: 0.25);
    }

    &:disabled:hover {
      background-color: transparent;
    }
  }

  &.btnLightOrange {
    &:hover {
      background-color: rgba($color: colors.$orange-400, $alpha: 0.25);
    }

    &:disabled:hover {
      background-color: transparent;
    }
  }

  &.btnDarkOrange {
    &:hover {
      background-color: rgba($color: colors.$orange-950, $alpha: 0.25);
    }

    &:disabled:hover {
      background-color: transparent;
    }
  }

  &.btnLightRed {
    &:disabled:hover {
      background-color: transparent;
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba($color: colors.$purple-950, $alpha: 0.25);
  }

  &Small {
    height: 38px;
    font-weight: 800;
    font-size: 20px;
    padding: 0 15px;
    min-width: 35;
  }

  &Medium {
    height: 38px;
    font-weight: 400;
    font-size: 22px;
    padding: 0 20px;
  }

  &Large {
    height: 55px;
    font-weight: 400;
    font-size: 24px;
    padding: 0 40px;
  }

  &Round {
    width: 60px;
    height: 60px;
    font-weight: 600;
    font-size: 26px;
    padding: 0 20px;
  }

  &RoundSmall {
    height: 40px;
    width: 40px;
    font-weight: 600;
    font-size: 26px;
  }

  &LightPurple {
    background-color: rgba($color: colors.$purple-300, $alpha: 0.25);
    color: colors.$white;
  }

  &DarkPurple {
    background-color: rgba($color: colors.$purple-800, $alpha: 0.25);
    color: colors.$white;
  }

  &LightGreen {
    background-color: rgba($color: colors.$green-300, $alpha: 0.25);
    color: colors.$white;
  }

  &DarkGreen {
    background-color: colors.$green-600;
    color: colors.$white;
  }

  &LightOrange {
    background-color: rgba($color: colors.$orange-300, $alpha: 0.25);
    color: colors.$white;
  }

  &DarkOrange {
    background-color: rgba($color: colors.$orange-800, $alpha: 0.25);
    color: colors.$white;
  }

  &LightTurquoise {
    background-color: rgba($color: colors.$turquoise-300, $alpha: 0.25);
    color: colors.$white;
  }

  &DarkTurquoise {
    background-color: rgba($color: colors.$turquoise-800, $alpha: 0.25);
    color: colors.$white;
  }

  &LightRed {
    background-color: #e5e5ea;
    color: colors.$red;
  }

  &Grey {
    background-color: colors.$dark-grey;
    color: colors.$purple-500;
  }
}
