@use "../../colors";
.numberPicker {
  display: flex;
  flex-direction: column;

  input {
    border: none;
    background-color: colors.$turquoise-100;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.625rem 1.5625rem;
    line-height: unset;
    width: 5rem;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.inputContainer {
  display: flex;
  width: fit-content;
  border: 1px solid transparent;

  &Error {
    border: 1px solid colors.$red;
  }

  & > span {
    display: flex;
    cursor: pointer;
  }

  & svg {
    padding: 0.9375rem;
    font-size: 1.25rem;
    color: white;
  }
}

.rightButton {
  background-color: colors.$turquoise-500;
}

.leftButton {
  background-color: colors.$turquoise-600;
}

.error {
  height: 1.5rem;
  color: colors.$red;
}
