main {
  display: flex;
  justify-content: center;
  flex: 1;
}

.toast {
  margin-top: 6.25rem;
  font-size: 1.25rem;
}

.container {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 87px);
}
