$white: #f8f8f8;
$off-white: rgba(255, 255, 255, 0.6);
$purple-50: #f4f3ff;
$purple-100: #ebe9fe;
$purple-200: #d9d6fe;
$purple-300: #beb6fc;
$purple-400: #9d8cf9;
$purple-500: #7e5df5;
$purple-600: #6c3ceb;
$purple-700: #5d2ad7;
$purple-800: #4d22b3;
$purple-900: #411e94;
$purple-950: #261164;
$light-grey: #d1d1ea;
