@use "./colors";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}

.swiper-button-prev,
.swiper-button-next {
  top: unset !important;
  bottom: unset !important;
  color: colors.$light-grey !important;
  position: unset !important;
  width: min-content !important;

  &::after {
    font-size: 100px;
  }

  &:hover::after {
    transform: translateY(-2px);
    color: darken($color: colors.$light-grey, $amount: 2);
  }
}

.swiper-button-next {
  right: unset !important;
  margin-left: 5rem;
}

.swiper-button-prev {
  left: unset !important;
  margin-right: calc(5rem + 69px);
}

label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}
