@use "./colors";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}

.swiper-button-prev,
.swiper-button-next {
  top: unset !important;
  bottom: unset !important;
  color: colors.$light-grey !important;
  position: unset !important;
  width: min-content !important;

  &::after {
    font-size: 6.25rem;
  }

  &:hover::after {
    transform: translateY(-0.125rem);
    color: darken($color: colors.$light-grey, $amount: 2);
  }
}

.swiper-button-next {
  right: unset !important;
  margin-left: 5rem;
}

.swiper-button-prev {
  left: unset !important;
  margin-right: calc(5rem + 4.3125rem);
}

label {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.3125rem;
}

@media screen and (max-width: 125rem) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 118.75rem) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 110rem) {
  :root {
    font-size: 12px;
  }
}
