@use "../../colors";

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 342px;
  width: 465px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: visible;

  .disableCard {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &Purple {
    background: linear-gradient(colors.$purple-400, colors.$purple-600);
  }

  &Green {
    background: linear-gradient(colors.$green-500, colors.$green-700);
  }

  &Orange {
    background: linear-gradient(colors.$orange-400, colors.$orange-600);
  }

  &Turquoise {
    background: linear-gradient(colors.$turquoise-400, colors.$turquoise-600);
  }

  .crown {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    top: -110px;
    right: -80px;
    transform: rotate(25deg);
  }
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: -138px;
  margin-left: 19px;

  h5 {
    text-transform: uppercase;
    color: colors.$off-white;
    font-size: 18px;
    font-weight: 600;
  }

  h3 {
    color: colors.$white;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
    text-align: start;
  }

  p {
    color: colors.$off-white;
    font-size: 18px;
    margin-top: 0.3rem;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  padding: 0 19px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100px;

  &Purple {
    background-color: colors.$purple-700;
  }

  &Green {
    background-color: colors.$green-700;
  }

  &Orange {
    background-color: colors.$orange-600;
  }

  &Turquoise {
    background-color: colors.$turquoise-600;
  }

  .logo {
    height: 61px;
    width: 61px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &Purple {
      background-color: colors.$purple-50;
    }

    &Orange {
      background-color: colors.$orange-50;
    }

    &Green {
      background-color: colors.$green-50;
    }

    &Turquoise {
      background-color: colors.$turquoise-50;
    }

    & > img {
      height: 50px;
      width: 50px;
      filter: grayscale(100%);
    }
  }

  & > img {
    width: 32px;
    height: 32px;
  }

  .cardInfoRows {
    display: flex;
    flex-direction: column;
  }

  .cardInfoRow {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;

    & > img {
      width: 16px;
      height: 16px;
      color: colors.$white;
    }

    .cardInfoPrice {
      font-weight: 800;
      color: colors.$white;
      font-size: 20px;
      margin-left: 0.2rem;
    }

    .cardInfoName {
      font-weight: 200;
      font-size: 17px;
      color: colors.$off-white;
      margin-left: 0.5rem;
    }
  }

  .cardJoinSection {
    margin-top: 19px;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .playerCount {
    margin-top: 0.2rem;
    font-size: 12px;
    color: colors.$off-white;
    margin-left: 0.5rem;
  }
}

.phaseProgressContainer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.refundButton {
  position: absolute;
  right: 20px;
  top: 20px;
}

.hide {
  visibility: hidden;
}
