@use "../../colors";

.card {
  border-radius: 0.9375rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  height: 21.375rem;
  width: 29.0625rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: visible;

  .disableCard {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0.9375rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &Purple {
    background: linear-gradient(colors.$purple-400, colors.$purple-600);
  }

  &Green {
    background: linear-gradient(colors.$green-500, colors.$green-700);
  }

  &Orange {
    background: linear-gradient(colors.$orange-400, colors.$orange-600);
  }

  &Turquoise {
    background: linear-gradient(colors.$turquoise-400, colors.$turquoise-600);
  }

  .crown {
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    z-index: 2;
    top: -4.0625rem;
    right: -2.1875rem;
    transform: rotate(25deg);
  }
}

.cardBodyContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: -8.625rem;
  margin-left: 1.1875rem;

  h5 {
    text-transform: uppercase;
    color: colors.$off-white;
    font-size: 1.125rem;
    font-weight: 600;
  }

  h3 {
    color: colors.$white;
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    text-align: start;
  }

  p {
    color: colors.$off-white;
    font-size: 1.125rem;
    margin-top: 0.3rem;
  }
}

.claimFeeButton {
  position: absolute;
  top: 1.25rem;
  left: 50%;
  transform: translate(-50%);
}

.cardFooter {
  display: flex;
  align-items: center;
  padding: 0 1.1875rem;
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  height: 6.25rem;

  &Purple {
    background-color: colors.$purple-700;
  }

  &Green {
    background-color: colors.$green-700;
  }

  &Orange {
    background-color: colors.$orange-600;
  }

  &Turquoise {
    background-color: colors.$turquoise-600;
  }

  .logo {
    height: 3.8125rem;
    width: 3.8125rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &Purple {
      background-color: colors.$purple-50;
    }

    &Orange {
      background-color: colors.$orange-50;
    }

    &Green {
      background-color: colors.$green-50;
    }

    &Turquoise {
      background-color: colors.$turquoise-50;
    }

    & > img {
      height: 3.125rem;
      width: 3.125rem;
      filter: grayscale(100%);
    }
  }

  & > img {
    width: 2rem;
    height: 2rem;
  }

  .cardInfoRows {
    display: flex;
    flex-direction: column;
  }

  .cardInfoRow {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;

    & > img {
      width: 1rem;
      height: 1rem;
      color: colors.$white;
    }

    .cardInfoPrice {
      font-weight: 800;
      color: colors.$white;
      font-size: 1.25rem;
      margin-left: 0.2rem;
    }

    .cardInfoName {
      font-weight: 200;
      font-size: 1.0625rem;
      color: colors.$off-white;
      margin-left: 0.5rem;
    }
  }

  .cardJoinSection {
    margin-top: 1.1875rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .playerCount {
    margin-top: 0.2rem;
    font-size: 0.75rem;
    color: colors.$off-white;
    margin-left: 0.5rem;
  }
}

.phaseProgressContainer {
  position: absolute;
  top: 1.25rem;
  left: 50%;
  transform: translate(-50%);
}

.refundButton {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.hide {
  visibility: hidden;
}
