@use "../../colors";

.textInput {
  display: flex;
  flex-direction: column;

  & > input {
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    background-color: colors.$dark-grey;
    font-size: 20px;

    &:focus-visible,
    &:focus,
    &:focus-within {
      outline: colors.$purple-200 1px solid;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
