$white: #f8f8f8;
$off-white: rgba(255, 255, 255, 0.6);
$purple-50: #f4f3ff;
$purple-100: #ebe9fe;
$purple-200: #d9d6fe;
$purple-300: #beb6fc;
$purple-400: #9d8cf9;
$purple-500: #7e5df5;
$purple-600: #6c3ceb;
$purple-700: #5d2ad7;
$purple-800: #4d22b3;
$purple-900: #411e94;
$purple-950: #261164;
$orange-50: #fffbea;
$orange-100: #fff2c5;
$orange-200: #ffe685;
$orange-300: #ffd246;
$orange-400: #ffbd1b;
$orange-500: #ff9d0a;
$orange-600: #e27200;
$orange-700: #bb4d02;
$orange-800: #983b08;
$orange-900: #7c310b;
$orange-950: #481700;
$green-50: #edfff3;
$green-100: #d5ffe4;
$green-200: #aeffcb;
$green-300: #6fffa4;
$green-400: #0aff60;
$green-500: #00e951;
$green-600: #00c23f;
$green-700: #009835;
$green-800: #04772e;
$green-900: #066129;
$green-950: #003713;
$turquoise-50: #eefffd;
$turquoise-100: #c5fffb;
$turquoise-200: #8bfff8;
$turquoise-300: #49fff5;
$turquoise-400: #12e6e2;
$turquoise-500: #00d0cf;
$turquoise-600: #00a6a8;
$turquoise-700: #008185;
$turquoise-800: #066469;
$turquoise-900: #0a5457;
$turquoise-950: #003035;
$light-grey: #d1d1ea;
$dark-grey: #e5e5ea;
$red: #ff3a30;
