@use "../../colors";

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 8rem;
  margin: 0 auto;
}

.container {
  width: 65vw;
  display: flex;
  margin: 0 auto;
}

.arrowBtn {
  color: colors.$light-grey;
  font-weight: 100;
  font-size: 100px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
