@use "../../colors";

.container {
  min-width: 125rem;
  width: 70vw;
  max-width: 70vw;
  height: 50rem;
  display: flex;
  margin: 10rem auto 7.5rem auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.arrowBtn {
  color: colors.$light-grey;
  font-weight: 100;
  font-size: 6.25rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.createGame {
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding: 0.625rem;
}

.switchNetwork {
  position: absolute;
  top: 0rem;
  left: 16rem;
  transform: translate(-50%);
  padding: 0.625rem;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;

  & > p {
    margin-left: 0.5rem;
  }
}

.swiper {
  padding-top: 5.9375rem !important;
  padding-left: 0.625rem !important;
  padding-right: 5.625rem !important;

  max-width: 70vw;
}
